body {
	color: white;
	margin: 2rem;
	font-family: sans-serif;
	background: url(Proc4.png);
}

h2 {

}

.header {
	text-align: right;
}

footer {
	color: rgb(200,200,200);
	text-align: right;
}